.homepage{
    position: relative;
    top: -80px;
    margin-bottom: -80px;
    z-index: 69;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: contrast(1.1);
    opacity:0.899878;

}

.content{
    /* font-family: ubuntu; */
    font-weight: bolder;
    /* color: white; */
    text-align: center;
    position: relative;
    top: -100px;
    line-height: 0.7;
    font-family: 'Sansita', sans-serif;
    /* z-index: 69; */
    /* font-size: small; */
}
.content h1{
    font-size: 60px;    
}
.content h3{
    font-size: 30px;
}
 .content h1,h3,h5{
    font-weight: bolder;
 }


 @media(max-width : 900px){
    /* .homepage{
        width: 100vw;
    } */
    *{
        overflow-x: hidden;
    }
 }